@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background-color: black;
}

header{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 95%;
    padding: 30px, 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  
  header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  header ul{
    display:  flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li{
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a{
    text-decoration: none;
    padding: 6px, 15px;
    color: white;
    border-radius: 5px;
  }
  header ul li a:hover,
  header ul li a.active
  {
    background: white;
    color: black;
  }
  
  section{
    padding: 3em;
    position: relative;
    box-sizing: border-box;
  }

  .anoTwo{
    font-size: 190%;
    width: 30%;
    margin-top: 10%;
    margin-left: 15%;
    color: white;
  }

  .imgOne{
    height: 35%;
    position: absolute;
    margin-left: 55%;
    display: flex;
    margin-top: 4%;
  }

  .anoOne{
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 350%;
  }

 
   .anoThree{
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 12%;
    font-size: 190%;
    }

  .imgSek{
    position: absolute;
    height: 35%;
    display: flex;   
    margin-left: 10%;
    margin-top: 5%;
    }

  .imgThree{
    position: absolute;
    height: 35%;
    display: flex;
    margin-top: 10%;
    margin-left: 59%;
    }

    .anoFour{
      color: white;
      text-align: center;
      margin-top: 25%;
      margin-bottom: 20%;
      margin-right: 45%;
      font-size: 190%;
    }

    section h1 {
      padding-top: 20%;
      text-align: center;
      font-size: 80px;
      background-color: rgb(255, 255, 255);
  }

    .scc {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

html{
  scroll-behavior: smooth;
}